html {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
  transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -ms-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;

  &:hover {
    color: black;
    transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    opacity: .5;
  }
}

ul {
  list-style: none;
  margin: 0;
}

.button {
  isolation: isolate;
  cursor: pointer;
}

.dark-mode {
  filter: invert(100%);
  -webkit-filter: invert(100%);

  img, picture, video {
    filter: invert(1);
    -webkit-filter: invert(1);
  }

  svg {
    filter: invert(0);
    -webkit-filter: invert(0);
  }
}


//TYPOGRAPHY-------------------------------------

h1, h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -.5px;
  line-height: 1.1875;
}

p {
  font-size: 1.2rem;
  letter-spacing: -.5px;
  line-height: 1.5;
}

.brand-icon {
  margin: 0 10px;
  font-size: xx-large;
}

@media (min-width: 1280px) {

  p {
    line-height: 1.4375;
  }
}
