
body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  transition: opacity .2s ease;
  &:hover {
    color: black;
    transition: opacity .2s ease;
    opacity: .5;
  }
}
ul {
  list-style: none;
  margin: 0;
}

.button {
  isolation: isolate;
  cursor: pointer;
}

.darkmode--activated {

  a {
    color: #f2f2f2 !important;
  }

}

.darkmode-toggle {
  z-index: 5000;
}


//TYPOGRAPHY-------------------------------------

h1, h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -.5px;
  line-height: 1.1875;
}

p {
  font-size: 1.2rem;
  letter-spacing: -.5px;
  line-height: 1.5;
}

@media (min-width: 1280px) {

  p {
    line-height: 1.4375;
  }
}
